h1,h2,h3,h4,h5 {color:SkyBlue;}

body {background-color:WhiteSmoke;}

p {font-family:"Lucida Console", Monaco, monospace;}

h1,h2,h3,h4,h5 {font-family:"Courier New", Courier, monospace;}


table {font-family:"Courier New", Courier, monospace;}


p {color: SkyBlue;}

table {color:chocolate;}

p {font-size: 18px;}

tbody {font-size: 20px;}

.table   {border: 10px;
         border-color: Saddlebrown;
         border-style: outset; }


button {
  display: block;
  width: 100%
  height: 100%
  margin: auto;
  height: 3em;
  font: 1.1em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  color:DeepSkyBlue;
  background-color:LightBlue;
  border-color:Whitesmoke;
}

button:hover {
   color:Yellow;
   background-color:DarkBlue;
   border-color:Black;
